<!DOCTYPE html>
<html>
<head>
	<title>GrpaesJS</title>
</head>
<body>
	<link rel="stylesheet" href="path/to/grapes.min.css">
<script src="path/to/grapes.min.js"></script>
 
<div id="gjs"></div>
 
<script type="text/javascript">
  var editor = grapesjs.init({
      container : '#gjs',
      components: '<div class="txt-red">Hello world!</div>',
      style: '.txt-red{color: red}',
  });
</script>

</body>
</html>