<% include partials/header1 %>

<div class = "first">

<nav class="navbar">
<div class="icon container fixed-top">
CESTA

</div>
</nav>


<div class=" container">

<xmp class="welcome">
<h1> WELCOME </h1></xmp> 

<xmp class="desc"><p> This Technical Quiz event </p> 
<p> is being organised by CESTA </p></xmp>

<div class="down">
<div class='mouse'>
	<div class="wheel">
	</div></div>
</div>
</div>
</div>

<div class="second">
        <img src="cestalogo.jpeg" class="logo1">
        <div class="register1">
        <a href= "/register" role="button" class="btn btn-outline-primary">Register!</a>
        </div>
        <img src="giphy_3.gif" class="logo2">

        <div class="column"><h1>
        Register for Quiz Round!
        </h1>
        <script src="lottie-player.js"></script>
        <lottie-player
                src="lottie-image.json" class="logo1"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay >
        </lottie-player>

        <div class="register2 space">
        <a href= "/quiz/final" role="button" class="btn btn-outline-primary">Final Round</a>
        </div>
        </div>
<!--
       <div class="column2">
        Design your own Endgame website.
        <br>
        <br>
        <img src="shield.png" class="logo">

        <div class="register2 space">
        <a href= "/" role="button" class="btn btn-outline-primary">Join!</a>
        </div>
       </div>
       </div>
-->    
<br>
<br>

<div class="last">
<div class="left container">
<div class= "about">
About CESTA:
</div>
<hr>
CESTA is The Computer Science Society of Delhi Technical Campus
<br>
Current President :- Ankit kummar (CSE 3rd Year)
<br>
Current Vice-President :- Akash Maurya(CSE 2nd Year)
<br>
</div>

<div class="right">
<div class="about">
Developed by :
</div>
<hr>
Cesta Members:
Arjit, Siddharth, Akash, Prateek & Vinay
<br>
</div>
</div>
<br>
<% include partials/footer %>