<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="../../question.css">
    <link rel="stylesheet" href="../../bootstrap.min.css">
    <script src="../../jquery.min.js"></script>
    <script src="../../bootstrap.min_cloudfare.css"></script>
    <script src="../../bootstrap.min.js"></script>
</head>
<body >
    <h1 class="heading text-center">QUIZ ROUND- (FINAL ROUND)</h1>
    <form id="form2">
        <div class="text-center">
        <label for="teamName">Team Name</label>
        <input type="text" placeholder="Team Name" id="teamName" name="teamName">
        </div>
       <ol  class="contain">
        <li><p>Of the following Indian satellites, which on is intended for long-distance telecommunications for transmitting TV programs?</p>
            <ul>
            <li><input type="radio" id="answer1" name="answer1" value="0">Aryabhatta</li>
            <li><input type="radio" id="answer1" name="answer1" value="1">INSAT -A</li>
            <li><input type="radio" id="answer1" name="answer1" value="0"> Rohini</li>
            <li><input type="radio" id="answer1" name="answer1" value="0">Bhaskara</li>
            </ul>
        </li><br>
        <li>
                <p>What is the standard length of MAC address:</p>
                <ul>
                    <li><input type="radio" id="answer2" name="answer2" value="0">16 bits</li>
                    <li><input type="radio" id="answer2" name="answer2" value="0">32 bits</li>
                    <li><input type="radio" id="answer2" name="answer2" value="1">48 bit</li>
                    <li><input type="radio" id="answer2" name="answer2" value="0">64 bits</li>
                </ul>
        </li><br>
        <li>
                <p>A Denial of Service attack is:</p>
                <ul>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Connection flooding</li>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Bandwidth flooding</li>
                    <li><input type="radio" id="answer3" name="answer3" value="1">All of the mentioned</li>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Vulnerability attack</li>
                </ul>
        </li><br>
        <li>
                <p>What does CDN stands for __________________? </p>
                <ul>
                    <li><input type="radio" id="answer4" name="answer4" value="0">Call Delivery Network</li>
                    <li><input type="radio" id="answer4" name="answer4" value="0">Computer Delay Network</li>
                    <li><input type="radio" id="answer4" name="answer4" value="0">Call Delay Network</li>
                    <li><input type="radio" id="answer4" name="answer4" value="1">Content Delivery Network</li>
                </ul>
        </li><br>
        <li>
                <p>Who was one of the winners of the Turing Award of 2019?</p>
                <ul>
                    <li><input type="radio" id="answer5" name="answer5" value="0">Whitefield Diffie</li>
                    <li><input type="radio" id="answer5" name="answer5" value="0">Peter Naur</li>
                    <li><input type="radio" id="answer5" name="answer5" value="0">Ramanathan V Guha</li>
                    <li><input type="radio" id="answer5" name="answer5" value="1">Geoffrey Hinton</li>
                </ul>
        </li><br>
        <li>
                <p>
                    Select the correct output of the c program in the the16-bit operating system
                    <br> #include < stdio.h >
                    <br> int main() 
                    <br>  {
                    <br>  printf("%x", -1<<1);
                    <br> getchar(); 
                    <br> return 0;   
                    <br>     }  
                </p>
                <ul>
                    <li><input type="radio" id="answer6" name="answer6" value="1">fffe</li>
                    <li><input type="radio" id="answer6" name="answer6" value="0">2</li>
                    <li><input type="radio" id="answer6" name="answer6" value="0">-2</li>
                    <li><input type="radio" id="answer6" name="answer6" value="0">Bbba</li>
                </ul> 
        </li><br>
        <li>
            <p>The performance of a supercomputer is measured in...</p>
            <ul>
                <li><input type="radio" id="answer7" name="answer7" value="1" >floating-point operations per second</li>
                <li><input type="radio" id="answer7" name="answer7" value="0" >million instructions per second</li>
                <li><input type="radio" id="answer7" name="answer7" value="0">kilobits per second</li>
                <li><input type="radio" id="answer7" name="answer7" value="0">megabits per second</li>
            </ul>
        </li><br>
        <li>
                <p>A service that concentrates on hardware follows the _________ as a Service model. </p>
                <ul>
                    <li><input type="radio" id="answer8" name="answer8" value="1">IaaS</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0" >CaaS</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0">PaaS</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0">SaaS</li>
                </ul>
                
                
                
                
        </li><br>
        <li>
                <p>What is the size of the Unicode character in the Windows Operating System?</p>
                <ul>
                    <li><input type="radio" id="answer9" name="answer9" value="0">8-Bits</li>
                    <li><input type="radio" id="answer9" name="answer9" value="1">16-Bits</li>
                    <li> <input type="radio" id="answer9" name="answer9" value="0">32-Bits</li>
                    <li><input type="radio" id="answer9" name="answer9" value="0">64 Bits</li>
                </ul>
        </li><br>
        <li>
                <p>Currently the fastest CPU in the world for a laptop ?</p>
                <ul>
                    <li><input type="radio" id="answer10" name="answer10" value="0">AMD's Threadripper(TR) 2990WX</li>
                    <li><input type="radio" id="answer10" name="answer10" value="1">Intel Core i9-9900KS</li>
                    <li><input type="radio" id="answer10" name="answer10" value="0">AMD Ryzen 9 3900X</li>
                    <li><input type="radio" id="answer10" name="answer10" value="0">Intel Pentium G4560</li>
                </ul>
          
        </li><br>
        <li>
                <p>Which of the following computer language is used for artificial intelligence?</p>
                <ul>
                    <li><input type="radio" id="answer11" name="answer11" value="0">FORTRAN</li>
                    <li><input type="radio" id="answer11" name="answer11" value="1">PROLOG</li>
                    <li><input type="radio" id="answer11" name="answer11" value="0">C</li>
                    <li><input type="radio" id="answer11" name="answer11" value="0">COBOL </li>
                </ul>   
        </li><br>
        <li>
                <p>Each block of a Blockchain consists of which of the following?</p>
                <ul>
                        <li><input type="radio" id="answer12" name="answer12" value="0">A hash pointer to the previous block</li>
                        <li><input type="radio" id="answer12" name="answer12" value="0">Timestamp</li>
                        <li><input type="radio" id="answer12" name="answer12" value="0">List of transactions</li>
                        <li><input type="radio" id="answer12" name="answer12" value="1">All of the above </li>
                </ul>
                 
        </li><br>
        <li>
                <p>A network service which translates domain names to IP addresses is called _________</p>
                <ul>
                <li><input type="radio" id="answer13" name="answer13" value="1">DNS</li>
                <li><input type="radio" id="answer13" name="answer13" value="0">HTTP</li>
                <li><input type="radio" id="answer13" name="answer13" value="0">NOS</li>
                <li><input type="radio" id="answer13" name="answer13" value="0">CDN</li>
                </ul>  
        </li><br>
        <li>
                <p>In cryptography, what is a cipher?</p>
                <ul>
                <li><input type="radio" id="answer14" name="answer14" value="1">algorithm for performing encryption and decryption</li>
                <li><input type="radio" id="answer14" name="answer14" value="0">encrypted message</li>
                <li><input type="radio" id="answer14" name="answer14" value="0">both algorithm for performing encryption and decryption and encrypted message</li>
                <li><input type="radio" id="answer14" name="answer14" value="0">decrypted message</li>
            </ul>
        </li><br>
        <li>
                <p>FSSAI to develop an app to prevent food wastage in partnership with which company?</p>
                <ul>
                <li><input type="radio" id="answer15" name="answer15" value="0">Google</li>
                <li><input type="radio" id="answer15" name="answer15" value="1">Nasscom Foundation</li>
                <li><input type="radio" id="answer15" name="answer15" value="0">Infosys</li>
                <li><input type="radio" id="answer15" name="answer15" value="0">TCS</li>
                </ul>
        </li><br>
        <li>
                <p> Which one of the following is a cryptographic protocol used to secure HTTP connection?  </p>
                <ul>
                <li><input type="radio" id="answer16" name="answer16" value="0">stream control transmission protocol (SCTP)</li>
                <li><input type="radio" id="answer16" name="answer16" value="1">transport layer security (TLS)</li>
                <li><input type="radio" id="answer16" name="answer16" value="0">explicit congestion notification</li>
                <li><input type="radio" id="answer16" name="answer16" value="0">resource reservation protocol</li>
                </ul>
        </li><br>
        <li>
                <p> Which of the following is a valid difference between a Virus and a Spyware?</p>
                <ul>
                <li><input type="radio" id="answer17" name="answer17" value="0">Spyware damages data and also steal sensitive private information</li>
                <li><input type="radio" id="answer17" name="answer17" value="1">Virus damages data, Spyware steals sensitive private information</li>
                <li><input type="radio" id="answer17" name="answer17" value="0">Spyware damages data, Virus steals sensitive private information</li>
                <li><input type="radio" id="answer17" name="answer17" value="0">The virus damages data and also steal sensitive private information</li>
                </ul>
        </li><br>
        <li>
                <p>_______ is a network reliability issue</p>
                <ul>
                <li><input type="radio" id="answer18" name="answer18" value="0">The number of users</li>
                <li><input type="radio" id="answer18" name="answer18" value="0">The type of transmission medium</li>
                <li><input type="radio" id="answer18" name="answer18" value="1">The frequency of failure</li>
                <li><input type="radio" id="answer18" name="answer18" value="0">Unauthorized access </li>
                </ul>
        </li><br>
        <li>
                <p>Do firewalls help to prevent which of the following malware from propagating? </p>
                <ul>
                <li><input type="radio" id="answer19" name="answer19" value="0">Encrypted viruses</li>
                <li><input type="radio" id="answer19" name="answer19" value="1">Worms</li>
                <li><input type="radio" id="answer19" name="answer19" value="0">Polymorphic viruses</li>
                <li><input type="radio" id="answer19" name="answer19" value="0">Trojan viruses</li>
                </ul>
        </li><br>
        <li>
            <p>Computer circuits arrangement in case of binary system offers ...</p>
            <ul>
            <li><input type="radio" id="answer20" name="answer20" value="0">Simple circuit design</li>
            <li><input type="radio" id="answer20" name="answer20" value="0">System Complexity</li>
            <li><input type="radio" id="answer20" name="answer20" value="0">Non Reliable System design</li>
            <li><input type="radio" id="answer20" name="answer20" value="1">All of the above</li>
            </ul>
        </li><br>
        <li>
            <p>Which programming languages are classified as low-level languages?</p>
            <ul>
            <li><input type="radio" id="answer21" name="answer21" value="0">BASIC, COBOL, Fortran</li>
            <li><input type="radio" id="answer21" name="answer21" value="0">Prolog</li>
            <li><input type="radio" id="answer21" name="answer21" value="0">C, C++</li>
            <li><input type="radio" id="answer21" name="answer21" value="1">Assembly languages</li>
            </ul>
        </li><br>
        <li>
            <p>World fastest supercomputer</p>
            <ul>
            <li><input type="radio" id="answer22" name="answer22" value="1">Sunway TaihuLight (China)</li>
            <li><input type="radio" id="answer22" name="answer22" value="0"Tianhe 2(China)</li>
            <li><input type="radio" id="answer22" name="answer22" value="0">Titan (Tennessee, USA)</li>
            <li><input type="radio" id="answer22" name="answer22" value="0">Sequoia(US)</li>
            </ul>
        </li><br>
        <li>
            <p>Pubg is made on which game engine?</p>
            <ul>
            <li><input type="radio" id="answer23" name="answer23" value="0">GameMakerStudio</li>
            <li><input type="radio" id="answer23" name="answer23" value="1">Unreal Engine 4</li>
            <li><input type="radio" id="answer23" name="answer23" value="0">Tencent HomenEngine</li>
            <li><input type="radio" id="answer23" name="answer23" value="0">Unity</li>
            </ul>
        </li><br>

          <li>
            <p>Which is a VFX software?</p>
            <ul>
            <li><input type="radio" id="answer24" name="answer24" value="1">Nuke</li>
            <li><input type="radio" id="answer24" name="answer24" value="0">Autodesk maya</li>
            <li><input type="radio" id="answer24" name="answer24" value="0">Cinema 4D</li>
            <li><input type="radio" id="answer24" name="answer24" value="0">ZBrush</li>
            </ul>
        </li><br>

          <li>
            <p>Specification which has little effect on the speed of a processor is </p>
            <ul>
            <li><input type="radio" id="answer25" name="answer25" value="1">cache</li>
            <li><input type="radio" id="answer25" name="answer25" value="0">system bus speed</li>
            <li><input type="radio" id="answer25" name="answer25" value="0">clock speed</li>
            <li><input type="radio" id="answer25" name="answer25" value="0">socket type</li>
            </ul>
        </li><br>
    </ol>

    <div class="text-center button">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
                Submit
            </button>
            </div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">CONFIRMATION</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Do you want to submit your answers
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="submit" id="sub" class="btn btn-primary">yes</button>
                </div>
              </div>
            </div>
        </div>
    </form>

    <script src="../../ejstemplate.js"></script>
</body>
</html>











	


