<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="./question.css">
    <link rel="stylesheet" href="./bootstrap.min.css">
    <script src="./jquery.min.js"></script>
    <script src="./bootstrap.min_cloudfare.css"></script>
    <script src="./bootstrap.min.js"></script>
    
</head>
<body >
    <h1 class="heading">QUIZ ROUND- (ELEMINATION ROUND)</h1>
    <form id="form1">
        <div class="text-center">
        <label for="teamName">Team Name</label>
        <input type="text" placeholder="Team Name" id="teamName" name="teamName">
        </div>
        <ol  class="contain">
            <li><p>What is a node?</p>
                <ul>
                    <li><input type="radio" id="answer1" name="answer1" value="0">exchange</li>
                    <li><input type="radio" id="answer1" name="answer1" value="0">type of cryptocurrency</li>
                    <li><input type="radio" id="answer1" name="answer1" value="0">Blockchain</li>
                    <li><input type="radio" id="answer1" name="answer1" value="1">computer on a blockchain network</li>
                </ul>
            </li><br>
    
            <li>
                    <p>Which of the following does not affect the resolution of a video display image? </p>
                    <ul>
                        <li><input type="radio" id="answer2" name="answer2"value="0">Vertical and horizontal lines of resolution</li>
                        <li><input type="radio" id="answer2" name="answer2" value="0">Bandwidth</li>
                        <li><input type="radio" id="answer2" name="answer2" value="0">Raster scan rage</li>
                        <li><input type="radio" id="answer2" name="answer2" value="1">Screen size</li>
                    </ul>
            </li><br>
    
            <li>
                <p>Which of the following is a class of computer threats?</p>
                <ul>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Phishing</li>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Soliciting</li>
                    <li><input type="radio" id="answer3" name="answer3" value="1">DoS attacks</li>
                    <li><input type="radio" id="answer3" name="answer3" value="0">Stalking</li>
                </ul>
            </li><br>
    
            <li>
                    <p>What is cryptography? </p>
                    <ul>
                        <li><input type="radio" id="answer4" name="answer4" value="1">A technique for secure communication</li>
                        <li><input type="radio" id="answer4" name="answer4" value="0">A technique used in bitcoin networking</li>
                        <li><input type="radio" id="answer4" name="answer4" value="0">A technique for fast and slow communication</li>
                        <li><input type="radio" id="answer4" name="answer4" value="0">A technique for back and forth communication</li>
                    </ul>
            </li><br>
    
            <li>
                    <p>Which of the following language is preferred for IoT analytics ?</p>
                    <ul>
                        <li><input type="radio" id="answer5" name="answer5" value="0">Python</li>
                        <li><input type="radio" id="answer5" name="answer5" value="0">S</li>
                        <li><input type="radio" id="answer5" name="answer5" value="0">R</li>
                        <li><input type="radio" id="answer5" name="answer5" value="0">All of the mentioned</li>
                    </ul>
            </li><br>
    
            <li>
                    <p>Which of the following is the best graphics card among them?</p>
                    <ul>
                        <li><input type="radio" id="answer6" name="answer6" value="1">Nvidia GeForce RTX 2080 Ti</li>
                        <li><input type="radio" id="answer6" name="answer6" value="0">AMD Radeon RX 570 4GB</li>
                        <li><input type="radio" id="answer6" name="answer6" value="0">Nvidia GeForce RTX 2080 Super</li>
                        <li><input type="radio" id="answer6" name="answer6" value="0">AMD Radeon VII</li>
                    </ul> 
            </li><br>
    
            <li>
                <p>What is a tag used in HTML to link another web page consisting of some domain?</p>
                <ul>
                    <li><input type="radio" id="answer7" name="answer7" value="0">hr</li>
                    <li><input type="radio" id="answer7" name="answer7" value="0">form</li>
                    <li><input type="radio" id="answer7" name="answer7" value="0">hyperlink</li>
                    <li><input type="radio" id="answer7" name="answer7" value="1">href</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which message delivery protocol does WhatsApp use?</p>
                <ul>
                    <li><input type="radio" id="answer8" name="answer8" value="1">XMPP</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0">SMTP</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0">TGPP</li>
                    <li><input type="radio" id="answer8" name="answer8" value="0">MIDP</li>
                </ul>
            </li><br>
    
            <li>
                    <p>What is ransomware?</p>
                    <ul>
                        <li><input type="radio" id="answer9" name="answer9" value="0">nickname for types of spyware that require a password on boot</li>
                        <li><input type="radio" id="answer9" name="answer9" value="0">Software that steals files from your computer and is used by blackmailers</li>
                        <li> <input type="radio" id="answer9" name="answer9" value="1">A software that hijacks your computer and asks you to pay in order for it to be removed</li>
                        <li><input type="radio" id="answer9" name="answer9" value="0">Viruses that infect files and won't let you open them unless you know a certain passcode</li>
                    </ul>
            </li><br>
            <li>
                    <p>Which is the first OOPS language? </p>
                    <ul>
                        <li><input type="radio" id="answer10" name="answer10" value="0">Scala</li>
                        <li><input type="radio" id="answer10" name="answer10" value="1">Simula</li>
                        <li><input type="radio" id="answer10" name="answer10" value="0">JAVA</li>
                        <li><input type="radio" id="answer10" name="answer10" value="0">C++</li>
                    </ul>
            </li><br>
    
            <li>
                    <p>What does P2P stand for?</p>
                    <ul>
                        <li><input type="radio" id="answer11" name="answer11" value="0">Password to Password</li>
                        <li><input type="radio" id="answer11" name="answer11" value="1">Peer to Peer</li>
                        <li><input type="radio" id="answer11" name="answer11" value="0">Product to Product</li>
                        <li><input type="radio" id="answer11" name="answer11" value="0">Private to Private</li>
                    </ul>   
            </li><br>
    
            <li>
                <p>All of the following are examples of real security and privacy threats except:</p>
                <ul>
                    <li><input type="radio" id="answe12" name="answer12" value="0">Hackers</li>
                    <li><input type="radio" id="answer12" name="answer12" value="0">Virus</li>
                    <li><input type="radio" id="answer12" name="answer12" value="0">Spam</li>
                    <li><input type="radio" id="answer12" name="answer12" value="1">Worm </li>
                </ul>    
            </li><br>
    
            <li>
                <p>Which of the following cloud concept is related to pooling and sharing of resources?</p>
                <ul>
                    <li><input type="radio" id="answer13" name="answer13" value="0">Abstraction</li>
                    <li><input type="radio" id="answer13" name="answer13" value="1">Virtualization</li>
                    <li><input type="radio" id="answer13" name="answer13" value="0">Polymorphism</li>
                    <li><input type="radio" id="answer13" name="answer13" value="0">None of the mentioned</li>
                </ul>  
            </li><br>
    
            <li>
                <p>React is developed by ____________________?</p>
                <ul>
                    <li><input type="radio" id="answer14" name="answer14" value="0">Google</li>
                    <li><input type="radio" id="answer14" name="answer14" value="0">Adobe</li>
                    <li><input type="radio" id="answer14" name="answer14" value="1">Facebook</li>
                    <li><input type="radio" id="answer14" name="answer14" value="0">NVIDIA</li>
                </ul>
            </li><br>
    
            <li>
                <p>World fastest supercomputer:</p>
                <ul>
                    <li><input type="radio" id="answer15" name="answer15" value="1">Sunway TaihuLight (China)</li>
                    <li><input type="radio" id="answer15" name="answer15" value="0">Tianhe 2(China)</li>
                    <li><input type="radio" id="answer15" name="answer15" value="0">Titan (Tennessee, USA)</li>
                    <li><input type="radio" id="answer15" name="answer15" value="0">Sequoia(US)</li>
                </ul>
            </li><br>
    
            <li>
                <p>Classification in AI is a part of which AI subgroup? </p>
                <ul>
                    <li><input type="radio" id="answer16" name="answer16" value="0">Expert System</li>
                    <li><input type="radio" id="answer16" name="answer16" value="1">Machine learning</li>
                    <li><input type="radio" id="answer16" name="answer16" value="0">Natural Language Processing</li>
                    <li><input type="radio" id="answer16" name="answer16" value="0">Robotics</li>
                </ul>
            </li><br>
    
            <li>
                <p>Who is considered to be the "father" of artificial intelligence who also first coined the term 'AI'? </p>
                <ul>
                    <li><input type="radio" id="answer17" name="answer17" value="0">Allen Newell</li>
                    <li><input type="radio" id="answer17" name="answer17" value="0">Alan Turning</li>
                    <li><input type="radio" id="answer17" name="answer17" value="1">John McCarthy</li>
                    <li><input type="radio" id="answer17" name="answer17" value="0">Fisher Ada</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which process is included in C compilation? </p>
                <ul>
                    <li><input type="radio" id="answer18" name="answer18" value="0">register allocation</li>
                    <li><input type="radio" id="answer18" name="answer18" value="0">Interpreter</li>
                    <li><input type="radio" id="answer18" name="answer18" value="0">Integration and generation</li>
                    <li><input type="radio" id="answer18" name="answer18" value="1">Assemble</li>
                </ul>
            </li><br>
    
            <li>
                <p>All of the following are examples of real security and privacy threats except:</p>
                <ul>
                    <li><input type="radio" id="answer19" name="answer19" value="0">Hackers</li>
                    <li><input type="radio" id="answer19" name="answer19" value="0">Virus</li>
                    <li><input type="radio" id="answer19" name="answer19" value="0">Spam</li>
                    <li><input type="radio" id="answer19" name="answer19" value="1">Worm</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which is not the correct type of computer? </p>
                <ul>
                    <li><input type="radio" id="answer20" name="answer20" value="1">Mini Frame Compute</li>
                    <li><input type="radio" id="answer20" name="answer20" value="0">Workstations</li>
                    <li><input type="radio" id="answer20" name="answer20" value="0">Super Computer</li>
                    <li><input type="radio" id="answer20" name="answer20" value="0">Personal Computer</li>
                </ul>
            </li><br>
    
            <li>
                <p>What does LTE [used in 4G] stand for:</p>
                <ul>
                    <li><input type="radio" id="answer21" name="answer21" value="0">Long Term Errors</li>
                    <li><input type="radio" id="answer21" name="answer21" value="1">Long Term Evolution</li>
                    <li><input type="radio" id="answer21" name="answer21" value="0">Lengthy Terminal Estimation</li>
                    <li><input type="radio" id="answer21" name="answer21" value="0">Long Term Estimates</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which one is not an element of IoT?</p>
                <ul>
                    <li><input type="radio" id="answer22" name="answer22" value="0">People</li>
                    <li><input type="radio" id="answer22" name="answer22" value="0">Process</li>
                    <li><input type="radio" id="answer22" name="answer22" value="1">Security</li>
                    <li><input type="radio" id="answer22" name="answer22" value="0">Things</li>
                </ul>
            </li><br>
    
            <li>
                <p>______________ invented the term the ‘ internet of things ‘</p>
                <ul>
                    <li><input type="radio" id="answer23" name="answer23" value="0">Tim Berner’s Lee</li>
                    <li><input type="radio" id="answer23" name="answer23" value="1">Kevin Ashton</li>
                    <li><input type="radio" id="answer23" name="answer23" value="0">Steve jobs</li>
                    <li><input type="radio" id="answer23" name="answer23" value="0">Glen Macaughty</li>
                </ul>
            </li><br>
    
            <li>
                <p>What is the standardized name for javascript? </p>
                <ul>
                    <li><input type="radio" id="answer24" name="answer24" value="0">Vanilla Script</li>
                    <li><input type="radio" id="answer24" name="answer24" value="0">NodeJS</li>
                    <li><input type="radio" id="answer24" name="answer24" value="0">JQuery</li>
                    <li><input type="radio" id="answer24" name="answer24" value="1">ECMA Scripts</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which programming language does Mozilla develop?</p>
                <ul>
                    <li><input type="radio" id="answer25" name="answer25" value="0">Swift</li>
                    <li><input type="radio" id="answer25" name="answer25" value="0">Go</li>
                    <li><input type="radio" id="answer25" name="answer25" value="0">Kotlin</li>
                    <li><input type="radio" id="answer25" name="answer25" value="1">Rust</li>
                </ul>
            </li><br>
    
            <li>
                <p>What is Secure Shell (SSH):</p>
                <ul>
                    <li><input type="radio" id="answer26" name="answer26" value="0">A router</li>
                    <li><input type="radio" id="answer26" name="answer26" value="0">A firewall</li>
                    <li><input type="radio" id="answer26" name="answer26" value="1">A network protocol</li>
                    <li><input type="radio" id="answer26" name="answer26" value="0">A python shell</li>
                </ul>
            </li><br>
    
            <li>
                <p>The characteristics of the computer system capable of thinking, reasoning, and learning is known is.</p>
                <ul>
                    <li><input type="radio" id="answer27" name="answer27" value="0">machine intelligence</li>
                    <li><input type="radio" id="answer27" name="answer27" value="0">human intelligence</li>
                    <li><input type="radio" id="answer27" name="answer27" value="1">artificial intelligence</li>
                    <li><input type="radio" id="answer27" name="answer27" value="0">Virtual intelligence</li>
                </ul>
            </li><br>
    
            <li>
                <p>Which option doesn’t satisfies the abstraction concept?</p>
                <ul>
                    <li><input type="radio" id="answer28" name="answer28" value="0">Driving a car</li>
                    <li><input type="radio" id="answer28" name="answer28" value="0">Working on a computer system</li>
                    <li><input type="radio" id="answer28" name="answer28" value="1">Reading a book</li>
                    <li><input type="radio" id="answer28" name="answer28" value="0">Human body</li>
                </ul>
            </li><br>
    
            <li>
                <p>
                    Give the output of the following c program?     
                    <br> #include< stdio.h >
                    <br>int main()
                    <br> { 
                    <br>int a=2;
                    <br> int b=3;
                    <br>int c= a+++++b*++a+++b;
                    <br>printf("%d", c);
                    <br> return 0;
                    <br> } 
                </p> 
                <ul>
                    <li><input type="radio" id="answer29" name="answer29" value="0">20</li>
                    <li><input type="radio" id="answer29" name="answer29" value="1">23</li>
                    <li><input type="radio" id="answer29" name="answer29" value="0">19</li>
                    <li><input type="radio" id="answer29" name="answer29" value="0">24</li>
                </ul>
            </li><br>
    
            <li>
                <p>A network of computer and other devices that is confined to a relatively small space is called ?</p>
                <ul>
                    <li><input type="radio" id="answer30" name="answer30" value="0">wide area network</li>
                    <li><input type="radio" id="answer30" name="answer30" value="0">metropolitian area network</li>
                    <li><input type="radio" id="answer30" name="answer30" value="0">large area network</li>
                    <li><input type="radio" id="answer30" name="answer30" value="1">local area network</li>
                </ul>
            </li><br>
    
        </ol>
<div class="text-center button">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">
            Submit
        </button>
        </div>
          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    Do you want to submit your answers
                </div>
                <div class="modal-footer space text-center">
                  <button type="button" class="btn btn-secondary text-center" data-dismiss="modal">No</button>
                  <button type="submit" id="sub" class="btn btn-primary">yes</button>
                </div>
              </div>
            </div>
        </div>
    </form>



    <script src="ejstemplate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>