<!doctype html>
<head>

	<title> CESTA Registration </title>
	<link rel="stylesheet" type="text/css" href="style2.css">

</head>

<body>

<nav class="navbar">
<div class="icon text-center fixed-top">
CESTA
</div>
</nav>

<div class = "container">
<div class="row">


<div style="width: 30%; margin:30px auto;">
<form action="/register" method = "POST">
	Team Name
	<div class="form-group">
	<input class="form-control" type= "text" name= "name" placeholder= "Team Name">
	</div>
	
	Member 1
	<div class="form-group">
	<input class= "form-control" type= "text" name= "member1" placeholder= "Enter the name of 1st member">
	</div>
	
	Member 2
	<div class="form-group">
	<input class= "form-control" type= "text" name= "member2" placeholder= "Enter the name of 2nd member">
	</div>
	<div class="form-group">
	<button class="btn btn-lg  btn-block"> Submit! </button>
	</div>
</form>


<a href="/"> Go Back! </a>
</div>
</div>

</div>


<div class="last">
	<div class="left container">
	<div class= "about">
	About CESTA:
	</div>
	<hr>
	CESTA is The Computer Science Society of Delhi Technical Campus
	<br>
	Current President :- Ankit kummar (CSE 3rd Year)
	<br>
	Current Vice-President :- Akash Maurya(CSE 2nd Year)
	<br>
	</div>
	
	<div class="right">
	<div class="about">
	Developed by :
	</div>
	<hr>
	Cesta Members:<br>
	Arjit, Siddharth, AKash, Prateek & Sehwag
	<br>
	</div>
	</div>
	<br>


</body>
</html>